@using Microsoft.Extensions.DependencyInjection
@using BrotherQlMqttHub.Data
@using BrotherQlMqttHub.Components
@using System.Diagnostics
@using BrotherQlMqttHub.Services
@using BrotherQlMqttHub.ViewModels
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.Query.Internal
@inject DialogService dialogService
@inject CategoryManager categories

<RadzenCard>
    <div>
        <button type="button" class="close" aria-label="Close" @onclick="OnClickDelete">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <h5>
        <span>@Category.Name</span>
    </h5>
<table class="table table-borderless text-nowrap">
    <tr>
        <td class="align-middle font-weight-bold">Name</td>
        <td class="w-100 align-middle">

            <DisplayOrEdit Text="@Category.Name"
                           OnUpdateValue="UpdateName"
                           IsEditable="true" />
        </td>
    </tr>

    <tr>
        <td class="align-middle font-weight-bold">Description</td>
        <td class="align-middle">

            <DisplayOrEdit Text="@Category.Description"
                           OnUpdateValue="UpdateDescription"
                           IsEditable="true"/>
        </td>
    </tr>

    <tr>
        <td class="align-top font-weight-bold">
            <span>Tags</span>
            
            <span>
                <RadzenButton Icon="add"
                              Click="AddNewTag">
                </RadzenButton>
            </span>
        </td>
        <td class="align-top">
            @foreach (var tag in Category.Tags)
            {
                <TagDisplay Tag="@tag" 
                            OnUpdateTag="UpdateTag"
                            OnDeleteTag="DeleteTag" />
            }
        </td>
    </tr>
</table>


</RadzenCard>
@code {
    [Parameter]
    public ICategoryView Category { get; set; }

    [Parameter]
    public EventCallback Update { get; set; }

    [Parameter]
    public EventCallback Delete { get; set; }


    private async void DeleteTag(ITagView tag)
    {
        var result = await dialogService.Confirm($"Are you sure you want to remove the tag '{tag.Name}' from the category '{Category.Name}'?", "Confirm Delete Tag");
        if (result == true)
        {
            await categories.DeleteTag(tag.Id);

            await Update.InvokeAsync();
        }
    }

    private async Task UpdateName(string newName)
    {
        await categories.UpdateCategory(Category.Id, newName, Category.Description);

        await Update.InvokeAsync();
    }

    private async Task UpdateDescription(string newDescription)
    {
        await categories.UpdateCategory(Category.Id, Category.Name, newDescription);

        await Update.InvokeAsync();
    }

    private async Task UpdateTag(Tuple<int, string> info)
    {
        await categories.UpdateTag(info.Item1, info.Item2);

        await Update.InvokeAsync();
    }

    private async void AddNewTag()
    {
        await categories.AddTag(Category.Id);

        await Update.InvokeAsync();
    }

    private void OnClickDelete()
    {
        Delete.InvokeAsync();
    }

}
