@using BrotherQlMqttHub.Data
@using System.Diagnostics
@inject DialogService DialogService

<div class="alert alert-tag alert-secondary">
    <div>
        <button type="button" class="close" aria-label="Close" @onclick="OnClickDelete">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="mr-4">
        <button type="button" class="btn btn-link" @onclick="ShowInlineDialog">@Tag.Name</button>
    </div>
</div>

@code {
    [Parameter]
    public Tag Tag { get; set; }

    [Parameter]
    public Action<Tag> OnDeleteTag { get; set; }


    private void OnClickDelete()
    {
        this.OnDeleteTag?.Invoke(Tag);
    }


    async Task ShowInlineDialog()
    {
        string newName = Tag.Name;

      var result = await DialogService.OpenAsync("Edit Tag Name", ds => 
          @<div> 
              <p Style="margin-bottom: 1rem">Confirm?</p> 
              <RadzenTextBox @bind-Value="newName" /> 
              <div class="row"> 
                  <div class="col-md-12"> 
                      <RadzenButton Text="Ok" Click="() => ds.Close(true)" Style="margin-bottom: 10px; width: 150px" /> 
                      <RadzenButton Text="Cancel" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Secondary"  Style="margin-bottom: 10px; width: 150px"/> 
                  </div> 
              </div> 
          </div>); 

        Debug.WriteLine($"{newName} {result}");

    
    }


}
