@page "/"

<h3>Brother QL Label Printer MQTT Hub</h3>

<p>
    This is a central hub for managing multiple Brother QL label printers connected through a central MQTT broker. 
    Printers can be assigned with tags that can be used by client services to discover them and send jobs to them.
</p>
